<h2>Edit Item</h2>

<!-- Display flash messages. -->
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <br>
  <br>

<!-- Edit Form. -->
  <form method="post" action="/<%=current_user.slug%>/list/<%=@item.slug%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <p>Name: <input type="text" name="name" value="<%= @item.name %>"></p>

    <p>Link: <input type="text" name="link" value="<%= @item.link %>"></p>

    <p>Price: <input type="text" name="price" value="<%= @item.price %>"></p>

    <p>Category:
      <input type="text" list="categories" name="category" value="<%=@item.category.name%>">
      <datalist id="categories">
        <% @item.user.categories.uniq.each do |category| %>
          <option value="<%=category.name%>">
          <% end %>
        </datalist>
      </p>

    <input type="submit" value="submit">
  </form>

  <br>

  <a href="/<%=current_user.slug%>/list">Back to list.</a>
