<h1><%=@item.name%></h1>

<!-- Item info. -->
  Link:<h3><%=@item.link%></h3>
  Price:<h3><%=@item.price%></h3>

<!-- Delete item. -->
  <form method="post" action="/*/list/<%=@item.slug%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Item">
  </form>

<!-- Edit item link. -->
  <a href="/<%=current_user.slug%>/list/<%=@item.slug%>/edit">Edit Item </a>

  <br>

<!-- Back to list. -->
  <a href="/<%=current_user.slug%>/list">Back to list.</a>
